nav {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  vertical-align: middle;
  color: white;  
}

ul{
  margin-left: 0;
  list-style-type: none
}

ul.nav{
  padding-left: 0px;
}

.nav-image{

  margin: 0 auto;
}

.ui.icon.menu{
  margin-left: 0;
  font-size: 25px;
  background: none;
}

i{
  font-size: 40px;
  color: rgb(32, 32, 30);
}

i.plus.icon{
  font-size: 25px
}

i.home.icon{
  font-size: 25px
}

i.search.icon{
  font-size: 25px
}

i.sign.out.icon{
  font-size: 25px
}
#title{
  text-align: center;
  margin: 0 auto;
}

#ui-panel{
  z-index: 1;
  position: relative;
}

.angular-google-map-container { height: 400px; }

#floating-panel {
  /*top: 10px;
  left: 25%;*/
  z-index: 2;
  position: absolute;
  /*left: 50%;*/
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  /*padding: 5px; */
  font-family: 'Roboto','sans-serif';
}

label{
  font-size: 15px;
}

.bar.icon{
  color: white;
}

.ui.relaxed.divided.list{
  height: 120px;
  overflow-y: scroll;
}

input#search.controls.autocomplete.ui-search{
  
  height: 30px;
  font-size: 15px;
  color: black;
}

div.centered.ui-form{
  padding: 7px;
  background-color: black;
  opacity: .9;
  color: white;
  top:77%;
}

div#search.centered.ui-form{
  width: 300px;
}

div#floating-panel.centered.ui-form.add-route{
  width: 300px;
}

form#login{
  background-color: black;
  opacity: .9;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.ui.form .field>label{
  color: white;
  font-size: 1.12em;
}

input.ng-pristine.ng-untouched.ng.valid{
  padding: 0.478614em 1em;
  font-size: 1.12em;
}

form#register{
  background-color: black;
  opacity: .9;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

div#floating-panel.centered.ui-form{
  background-color: black;
  opacity: .9;
  border-radius: 5px;
  top:80%;
}

.controls.field.autocomplete{
  width: 300px;
  height: 30px;
  font-size: 15px;
  color: black;
}

input#destination .controls.field.autocomplete{
  width: 300px;
  height: 30px;
  font-size: 15px;
  color: black;
}

#description{

  height: 30px;
  font-size: 15px;
  color: black;
}

input{
  color: black;
}

button.ui.secondary.button{
  z-index: 4;
  margin-bottom: 3.5;
}

select#distance-select{
  color: black
}

.form-bg{

  z-index: 4
}

.centered {
  z-index: 2;
  position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}


.contain {
  text-align: center;
  background-color: none;
  padding: 50px;
  color: #fff;
}

.contain h1 {
  font-size: 80px;
}

.contain h2 {
  font-size: 25px;
  margin-top: -10px;
}

.shader {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);
}

.contain ul {
  margin: 0;
  padding: 0;
}

.contain ul li {
  margin: 10px;
  display: block;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

img{
  opacity: 0.8;
  border-radius: 10px;
}

a{
  color: #337ab7;
  font-weight: bolder;
  font-size: 18px;
}

.home-links{
  color: #DCDBDA;
}

/*nav {
  position: absolute;
}*/
/*#walks-list {
  background-color: white;
  opacity: 0.1;
}*/