body{
  /*z-index: -2;*/
}

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  vertical-align: middle;
  color: white;  
}

ul{
  margin-left: 0;
  list-style-type: none
}

.nav-image{

  margin: 0 auto;
}



.ui.icon.menu{
  margin-left: 0;
  font-size: 25px;
  background: none;
}

i{
  font-size: 30px;
  color: rgb(32, 32, 30);
/*  width: 34px !important;
  height: 34px !important;*/
}

#title{
  text-align: center;
  margin: 0 auto;
}

#ui-panel{
  z-index: 1;
  position: relative;
}

.angular-google-map-container { height: 400px; }

#floating-panel {
  /*top: 10px;
  left: 25%;*/
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 5px; 
  font-family: 'Roboto','sans-serif';
}

#main-map {
/*  position: absolute;
*/  /*z-index: -1;*/
}

.addRoute{
/*  z-index: 3;
  position: absolute;
  top: 20px;
  right: 10px;
  color: #333;*/
}

.centered {
  z-index: 2;
  position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}


.contain {
  text-align: center;
  background-color: none;
  padding: 50px;
  color: #fff;
}

.contain h1 {
  font-size: 80px;
}

.contain h2 {
  font-size: 25px;
  margin-top: -10px;
}

.shader {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);
}

.contain ul {
  margin: 0;
  padding: 0;
}

.contain ul li {
  margin: 10px;
  display: block;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

img{
  opacity: 0.8;
  border-radius: 10px;
}

.directions

/*nav {
  position: absolute;
}*/
/*#walks-list {
  background-color: white;
  opacity: 0.1;
}*/