body{
  z-index: -2;
}

.angular-google-map-container { height: 400px; }

#floating-panel {
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#main-map {
  /*position: absolute;*/
  /*z-index: -1;*/
}


/*#walks-list {
  background-color: white;
  opacity: 0.1;
}*/