<div class='shader'></div>

<div class="centered">
  <section ng-hide= "users.isLoggedIn() == true">
    <form id="login" class="ui small form">
      <div class="field"> 
        <label for="email">email</label>
        <input type="text" name="email" placeholder="email" ng-model= "users.user.email">
      </div> 
      
      <div class="field"> 
        <label for="password">password</label>
        <input type="password" name="password" placeholder="password"  ng-model="users.user.password">
      </div>
    </form>
    <button class="ui secondary button" type="submit" form="login" value="Access" ng-click="users.login()">login</button>
  </section>
</div>