<div class='shader'></div>

<div class="centered">
  <section ng-hide= "users.isLoggedIn() == true">
    
    <form id="login" class="ui-form">  
      <h3>Login</h3>
      <label for="email">email</label>
      <input type="text" name="email" placeholder="What is your email?" ng-model= "users.user.email">
  
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="What is your password?"  ng-model="users.user.password">
    </form>
    <button class="ui secondary button" type="submit" form="login" value="Access" ng-click="users.login()"ui-sref="search">login</button>
</section>
</div>