<div class="centered" ng-controller="walkController as walks">
  
  <input id="search" class="controls autocomplete" type="text"
     placeholder="search">
  <select id="distance-select"placeholder="select distance">
    <option value="0.5">0.5</option>
    <option value="1">1.0</option>
    <option value="2">2.0</option>
    <option value="5">5.0</option>
  </select>
  <button ng-click="walks.searchWalks()">search dude</button>
  
  <ul>
    <li ng-repeat= "result in walks.searchResults" ng-click="walks.selectWalk(result)">   
      {{result.origin.name}}, {{result.origin.formatted_address}}
      <a href="#" ng-click="walks.showRoute(character)">show route</a>
    </li>
  </ul>
</div>